{% extends "layout.html" %}

{% block body %}
    <div class="about">
        <p>Подслушаны вокруг, выстраданы лично, выписаны из книг, проверены на хазиках.</p>
        <h2>СОВЕТЫ тем, кто не хочет слить:</h2>
        <div class="list">
            <p>олимпиаду</p>
            <p>экзамен</p>
            <p>ЕНТ</p>
            <p>проект</p>
            <p>жизнь</p>
        </div>
        <a id="github-link" href="https://github.com/yonyoon/slil-respu">
            <img src="../static/github-mark-white.png" id="github-mark">
            GitHub
        </a>
    </div>
{% endblock %}