{% extends "layout.html" %}

{% block script %}
    <script src="../static/script.js"></script>
{% endblock %}

{% block body %}

    <div id="quote">
        <h1 class="appear">{{ quote }}</h1>
    </div>
    <script>
      let quote = document.querySelector('#quote');
      quote.addEventListener('click', async function() {
        let response = await fetch('/get');
        let quoteContent = await response.json();

        if (quote.classList.contains('appear') || quote.classList.contains('disappear')) return;
    
        // Add 'appear' class to trigger slideIn animation
        quote.classList.add('disappear');
        
        // Listen for animationend event
        quote.addEventListener('animationend', async function() {
            // After slideIn animation ends, remove 'appear' class
            // and add 'disappear' class to trigger fadeOut animation
            quote.classList.remove('disappear');
            document.querySelector('h1').innerText = quoteContent;
            quote.classList.add('appear');
            
            // Remove the 'disappear' class after fadeOut animation ends
            quote.addEventListener('animationend', function() {
                quote.classList.remove('appear');
            });
        });

        let image_response = await fetch('/image');
        let image_name = await image_response.json();
        let bgDiv = document.querySelector('.bg')

        bgDiv.classList.add('fadeOut');
        
        // Listen for animationend event
        bgDiv.addEventListener('animationend', function() {
            // After slideIn animation ends, remove 'fadeIn' class
            // and add 'fadeOut' class to trigger fadeOut animation
            bgDiv.classList.remove('fadeOut');
            bgDiv.style.backgroundImage = `url('../static/images/${image_name}')`;
            bgDiv.classList.add('fadeIn');
            
            // Remove the 'fadeOut' class after fadeOut animation ends
            bgDiv.addEventListener('animationend', function() {
                bgDiv.classList.remove('fadeIn');
            });
        });
      });
    </script>

{% endblock %}