<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СЛИЛ РЕСПУ</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src="../static/script.js"></script>
</head>
<body>
    <header>
        <a href="/">СЛИЛ РЕСПУ</a>
        <a href="/">О САЙТЕ</a>
    </header>
    <div id="quote">
        <h1 class="appear">{{ quote }}</h1>
    </div>
    <script>
      let quote = document.querySelector('#quote');
      quote.addEventListener('click', async function() {
        let response = await fetch('/get');
        let quoteContent = await response.json();

        if (quote.classList.contains('appear') || quote.classList.contains('disappear')) return;
    
        // Add 'appear' class to trigger slideIn animation
        quote.classList.add('disappear');
        
        // Listen for animationend event
        quote.addEventListener('animationend', async function() {
            // After slideIn animation ends, remove 'appear' class
            // and add 'disappear' class to trigger fadeOut animation
            quote.classList.remove('disappear');
            document.querySelector('h1').innerText = quoteContent;
            quote.classList.add('appear');
            
            // Remove the 'disappear' class after fadeOut animation ends
            quote.addEventListener('animationend', function() {
                quote.classList.remove('appear');
            });
        });

        addBackground()
      });
    </script>
</body>
</html>