#quote, .about {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

@media (max-width: 768px) {
    #quote h1 {
        text-align: left;
        font-size: 50px; 
        word-wrap: break-word;
    }

    #quote {
        margin: 0 auto;
        max-width: 200px;
    }
}

.about {
    flex-direction: column;
    font-size: 20px;
}

.about .list {
    gap: 10px;
}

#github-mark {
    width: 1em;
    height: 1em;
    margin-right: 5px;
}

#github-link {
    color: inherit;
}

.list {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    cursor: pointer;
}

h2 {
    font-weight: 400;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Oswald", sans-serif;
    color: white;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    background-size: cover;
    background-position: center;
    background-color: black;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    box-sizing: border-box;
}

.header-links {
    text-decoration: none; 
    color: inherit;
    background-color: transparent;
    border: none;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.appear {
    animation: slideIn 0.5s ease-out forwards;
}

.disappear {
    animation: slideOut 0.5s ease-in forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut 0.5s ease-out forwards;
}

.fadeIn {
    animation: fadeIn 0.5s ease-in forwards;
}