#quote {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    cursor: pointer;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Oswald", sans-serif;
    color: white;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    background-size: cover;
    background-position: center;
    background-color: black;
}

header {
    position: fixed;
    width: 100%;
    width: 100%;
    padding: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    box-sizing: border-box;
}

a {
    text-decoration: none; 
    color: inherit;
    background-color: transparent;
    border: none;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.appear {
    animation: slideIn 0.5s ease-out forwards;
}

.disappear {
    animation: slideOut 0.5s ease-in forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut 0.5s ease-out forwards;
}

.fadeIn {
    animation: fadeIn 0.5s ease-in forwards;
}